<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pirate / </title>
 </head>
 <body>
  <form action="/pirate" method="post">
  <p>  Pirate Name: <input type="text" name="pirate[name]"> </p>
  <p>  Pirate Weight: <input type="text" name="pirate[weight]"> </p>
  <p>  Pirate Height: <input type="text" name="pirate[height]">  </p>
  <p>  Ship Name: <input type="text" name="pirate[ship][][name]">  </p>
  <p>  Ship Type: <input type="text" name="pirate[ship][][type]">  </p>
  <p>  Ship Booty: <input type="text" name="pirate[ship][][booty]"> </p>
  <p>  Ship Name: <input type="text" name="pirate[ship][][name]"> </p>
  <p>  Ship Type: <input type="text" name="pirate[ship][][type]"> </p>
  <p>  Ship Booty: <input type="text" name="pirate[ship][][booty]"> </p>

    <input type="submit">
  </form>

</form>
</body>
</html>
